.DailyOverview {
  width: 100%;
  max-width: 350px;
  padding: 0.5rem 1rem;
  background: #3e8ed8;
  color: white;

  &_weather {
    display: inline-block;
    &_current {
      font-size: 2.2em;
    }
    &_highlow {
      font-size: 1.2em;
    }
  }
  &_description {
    font-size: 2em;
    margin: 0;
  }
  .WeatherIcon {
    float: right;
    width: 4em;
    height: 4em;
  }
}
