.Header {
  width: 100%;
  height: 3rem;
  background: #3e8ed8;
  margin: 0;
  form {
    display: inline-block;
    height: inherit;
  }
  &_search {
    height: 80%;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    border: none;
    margin-left: 25px;
    padding-left: 15px;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.8) inset;
  }
  &_searchOptions {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  &_submit {
    margin-left: 13px;
  }
  h1 {
    display: inline-block;
    margin: 0;
    margin-left: 50px;
    color: white;
    position: absolute;
    left: 50%;
    font-size: 2.4em;
  }
}
@media only screen and (max-width: 600px){
  .Header {
    height: auto;
    h1 {
      display: block;
      position: relative;
      left: initial;
    }
  }
}
